<div class="footer__container has-text-white">

    <div class="footer__middle-layer" fxHide.xs>
        <div class="footer__left-box">
            <!--   <div class="footer__left-box--logo">
                <figure>
                    <img src="assets/footer_logo.jpg" alt="The Footer Logo" width="304" height="228">
                </figure>
            </div> -->
            <div class="footer__left-box--contact">




                <!--address class="has-text-white">
                    <ng-template [ngIf]="email && author">Written by <a href="mailto:{{ email }}"
                            class="written-by-link">{{ author }}</a>.<br></ng-template>
                    <ng-template [ngIf]="website">Visit us at:<br>{{ website }}<br /></ng-template>
                    <ng-template [ngIf]="street">{{ street }}<br /></ng-template>
                    <ng-template [ngIf]="city && state" [ngIfElse]="cityORstate">{{ city }}, {{ state }}<br />
                    </ng-template>
                    <ng-template #cityORstate>
                        <ng-template [ngIf]="city">{{ city }}</ng-template>
                        <ng-template [ngIf]="state">{{ state }}<br /></ng-template>
                    </ng-template>
                    <ng-template [ngIf]="country">{{ country }}<br /></ng-template>
                </address-->

            </div>
        </div>
        <div class="footer__right-box">

            <div class="footer__right-box--logo">

            </div>
            <div class="footer__right-box--links">


            </div>



        </div>

    </div>
    <div class="footer__bottom-layer">

        <div class="footer__bottom-layer--item">
            <span class="copyright">&copy;2023 Udegree Ltd. All Rights Reserved | </span> <a [routerLink]="['privacy']" (click)="newPrivacyEvent()">Privacy Policy</a> | <a href = "mailto: harry@udegree.co" (click)="newContactEvent()">Contact us</a> 
        </div>


    </div>
</div>