.ui-inputswitch-on {
    background: #46b7cc!important;
}       
.ui-inputswitch-onlabel {
    background: #46b7cc!important;
}
.ui-dropdown, .ui-multiselect {
min-width: 225px;
}
.ui-multiselect .ui-multiselect-label {
    width: 225px;
}
.ui-accordion-content{
    background: whitesmoke; 
}