.shadow {
    transition: box-shadow .25s;    
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

// .flex { display: flex;}
// .flex-row { flex-direction: row;}
// .flex-col { flex-direction: column;}
// .flex-1 { flex: 1;}
// .flex-grow-2 { flex-grow: 2;}
// .flex-row-panel { display: flex; flex-direction: row;  padding: 15px;
// }
// .flex-col-panel { display: flex; flex: 1; flex-direction: column;  padding: 15px;
// }
// .flex-space-between {
//     justify-content: space-between;
// }

.padding-15  {
    padding: 15px;
}
.mr-5 {
    margin-right: 5px;
}
.mt-30 {
    margin-top: 30px!important;
}
.mt-45 {
    margin-top: 45px !important;
}
.mt-10 {
    margin-top: 10px!important;
}
.min-width-50 {
    width: 50%;
}
.pr-20 {
    padding-right: 20px;
}
//layoyt
.relative {position: relative;}
.full-page {
            display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
}
