$font-family: 'Open Sans', san-serif;
$font-size: 1.5em;

//$background-image-path: "./assets/img";
$background-image-path: "../../assets/img/";

//$active-before-background-colour: #207ce5;
$active-before-background-colour: #46b7cc;
$active-before-background-colour-dark: #14889d;
$active-before-colour: white;

