<div class="course course--draggable" (click)="toggleDetails()" (mouseover)="showDelete = true" (mouseleave)="showDelete = false" [ngClass]="status ? 'course-shake' : 'course'" title="{{course.help}}"  
    [style.background-color]="backgroundColor"
    [class.course--error]="course.isError" >
    <!--[class.dragging]="isDragging"-->
    <div class="course-draggable-content">
        <div class="handle"></div>
        <div class="course-name">{{course.name}}</div>
        <div *ngIf="course.status == 2" class="display-grade">{{displayGrade}}</div>
        <div class="course-title">{{course.title}}</div>
    </div>

    <course-delete-icon class="cross" *ngIf="course.canDelete" (deleteCourseClicked)="deleteCourse()"></course-delete-icon>
</div>
