<div class="course-card-container" (click)="toggleDetails(course)">

    <div class="topline">

      <span class="round">
        <input type="checkbox" [attr.checked]="course.checked" id="{{id}}" />
        <label for="id"></label>
      </span>

      <span class="bold name">
        {{course.name}}
      </span>

      <span class="points align-right">
        <div class="margin-auto">
          {{course.points}} points
        </div>
      </span>

    </div>

    <div class="title">
      {{course.title}}
    </div>

    <div class="desc">
      {{course.desc}}
    </div>

    <div *ngIf="course.message" class="planned-message">
      {{course.message}}
    </div>

  </div>