<div class="filter-panel">
  <div class="pad">
    <div class="remove-pad flex-justify" >
      <div>
        <mat-form-field class="space">
          <mat-select multiple placeholder="Faculties"
                               [(ngModel)]="filterParams.faculties"
                               (selectionChange)="onChange()"
                               >
            <mat-option *ngFor="let faculty of facultyChoices"
                               [value]="faculty.value">
              {{faculty.label}}
            </mat-option> 
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="space">
          <mat-select multiple placeholder="Departments"
                               [(ngModel)]="filterParams.departments"
                               (selectionChange)="onChange()"
                               >
            <mat-option *ngFor="let department of departmentChoices"
                               [value]="department.value">
              {{department.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="space">
          <mat-select multiple placeholder="Campus"
                               [(ngModel)]="filterParams.campus"
                               (selectionChange)="onChange()"
                               >
            <mat-option *ngFor="let campus of campusChoices"
                               [value]="campus.value">
              {{campus.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field class="space">
          <mat-select multiple placeholder="Stages"
                      [(ngModel)]="filterParams.stage"
                      (selectionChange)="onChange()">
            <mat-option *ngFor="let stage of stageChoices"
                      [value]="stage.value">
              {{stage.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="remove-pad flex-justify">
      <mat-slide-toggle [(ngModel)]="filterParams.ineligible" labelPosition="before" (change)="onChange()">
        Show ineligible
      </mat-slide-toggle>

      <mat-slide-toggle [(ngModel)]="filterParams.general" labelPosition="before" (change)="onChange($event, 'general')">
        General Education
      </mat-slide-toggle>

      <!-- <mat-slide-toggle [(ngModel)]="filterParams.modules" labelPosition="before" (change)="onChange($event, 'modules')">
        Modules
      </mat-slide-toggle> -->

      <mat-slide-toggle [(ngModel)]="filterParams.hidePlanned" labelPosition="before" (change)="onChange()">
        Hide planned
      </mat-slide-toggle>
      <mat-form-field>
        <input
                        matInput
                        type="search"
                        name="search"
                        placeholder="Search"
                        [(ngModel)]="filterParams.searchTerm"
                        (ngModelChange)="onChange(null, null, true)"
                        (blur)="onChange()">
      </mat-form-field>
    </div>
  </div>
  <hr style="width:90%; margin:auto;"/>
</div>
