@import './../../sass/_mdl-switch.scss';

.course-filter-search {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 26px 3px 5px;
  width: 225px;
}

.filter-panel {
  width: 100%;
  background:white;
}

.add-course-filter-title {
  padding: 0px !important;
  margin-left: 0px !important;
  height: 30px !important;
}

.add-course-filter-header {

}

.add-course-filter-panel {
  box-shadow: none !important;
}

::ng-deep .add-course-filter-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0px !important;
}

.radio-group-style {
  display: inline-grid !important;
}

::ng-deep .slide-toggle .mat-slide-toggle-label {
  display: inline-grid !important;
}

::ng-deep .slide-toggle .mat-slide-toggle-bar {
  margin-top: 15px !important;
}

.slide-toggle-group {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.pad {
  padding:10px;
}

@media (max-width: 375px) {

  .pad {
    padding-top: 1px;
  }
}

//this gets rid of the big space that mat-form uses 
.remove-pad {
  margin-bottom:0px
}

toggle-switch {
  display: inline-block
}

.space{
  margin-left:10px;

}

.flex-justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:20px;
  margin-right:20px;
  align-items: center;
}

@media (max-width: 375px) {
  .flex-justify {
    display: block;
  }
}

