@import '../../sass/_card.scss';

.course-card-container {
  border: 2px solid #eee;
  border-radius:4px;
  height: 160px;
  width: 420px;
  margin: 5px;
  padding: 5px 15px 0 15px;
  color: black;
  text-align: left;
}
@media (max-width: 415px) {
.course-card-container {
  border: 2px solid #eee;
  border-radius:4px;
  height: 160px;
  width: auto;
  margin: 5px;
  padding: 5px 15px 0 15px;
  color: black;
  text-align: left;
}
}

.points {
  display:flex;
  height:25px;
  color: #2ab6fe;
  background-color:#eef9fe;
  font-size:13px;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
  text-align:center;
}

.margin-auto {
  margin:auto;
}

.planned-card {
  border-color: #65cc01;
}
.bold {
  font-weight:bold;
}

.align-right {
  float: right;
}

.title {
  color: black;
  font-size: 13px;
  margin-left:45px;
  height:20px;
}

.name {
  margin-left:10px;
}

.topline {
  height: 30px;
  padding-top: 5px
}

.desc {
  margin-top: 10px;
  height:40px;
  overflow:hidden;
  font-size:13px;
  color:gray;
}

.round {
  position: relative;
  margin-right:15px;
}

.planned-message {
  margin-top: 15px;
  color: #65cc01;
  font-size:13px;
}

.round label {
  background-color: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 25px;
  margin-top:-5px;
  max-width:unset;
}

.round label:after {
  border: 2px solid #eee;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #65cc01;
  border-color: #65cc01;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

