<h1 class="header">Login to Udegree</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="login-error">{{errorMessage}}</label>
        </div>
        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-pendo btn-default">Login</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-pendo btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-pendo btn-danger btn-block" (click)="tryGoogleLogin()">Continue with Google</button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with Twitter</button>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>New to Udegree? <a href="/register">SIGN UP</a></p>
    </div>
  </div>
</div>
