
<div *ngIf="degSelectId == 1">
<h2 mat-dialog-title>Degree </h2>

<P>Choose the degree you are enrolled in. Depending on the degree you choose you will have different requirements to meet and options as to the structure of your degree.</P>

<mat-dialog-actions class="">
    <button class="btn"(click)="close();">Got it!</button>
</mat-dialog-actions>
</div>

<div *ngIf="degSelectId == 2">
<h2 mat-dialog-title>Conjoint </h2>

<P>A conjoint programme allows you to work towards two bachelors degrees at the same time. You can obtain a joint qualification more quickly than if you completed each degree separately. Many conjoint programmes can be finished within four to five years, depending on the combination of degrees. A conjoint programme often requires just one extra course to be taken each year (on top of a normal full-time load). The short timeframe is due to a reduced points requirement per degree as some elective courses are not required. You can apply for a conjoint programme when you make your initial application or do so in subsequent years if you later decide you’d like to gain a second degree. Not all degree programmes include conjoint options.</P>

<mat-dialog-actions class="">
    <button class="btn" (click)="close();">Got it!</button>
</mat-dialog-actions>
</div>

<div *ngIf="degSelectId == 3">
<h2 mat-dialog-title>Major </h2>

<P>A major is the main subject area that you choose to study in your degree. You will study courses up to Stage III level in this subject. Each programme page provides a list of majors, minors and specialisations where applicable.</P>

<mat-dialog-actions class="">
    <button class="btn"(click)="close();">Got it!</button>
</mat-dialog-actions>
</div>

<div *ngIf="degSelectId == 4">
<h2 mat-dialog-title>Pathway </h2>

<P>You can choose to keep your Science major general, or you can choose to follow one or more of the official pathways:</P>

<mat-dialog-actions>
    <button class="btn"(click)="close();">Got it!</button>
</mat-dialog-actions>
</div>

<div *ngIf="degSelectId == 5">
<h2 mat-dialog-title>Module </h2>

<P>Optional. Max of two modules.</P>

<mat-dialog-actions class="">
    <button class="btn"(click)="close();">Got it!</button>
</mat-dialog-actions>
</div>