<div class="progress-panel-content">
  <mat-expansion-panel
    class="pg-bar"
    [disabled]="isDisabled"
    [expanded]="true"
    hideToggle
  >
    <mat-expansion-panel-header
      *ngIf="faculty?.name"
      style="margin-top: 0px; margin-bottom: 0px"
      (click)="expansionOnClick()"
    >
        <mat-toolbar class="plain">
        <span> Bachelor of {{faculty? faculty.name: ''}} </span>
        <span class="spacer"></span>
        <span class="delete-pg" (click)="noExpansionOnClick(); deleteDegree();">
          <span class="cross-pg">&times;</span></span>
      </mat-toolbar>
    </mat-expansion-panel-header>

    <div *ngIf="gpa" class="gpa">Total GPA {{gpa.toFixed(2)}}</div>

    <div *ngIf="faculty?.name" class="progress-panel-bar-container flex flex-col flex-start">
      <div class="progress-bar-group">
        <progress-bar-multi-container
          *ngFor="let requirement of requirements"
          [requirement]="requirement"
          (click)="selectRequirements(requirement)"
          [courses]="courses"
        >
        </progress-bar-multi-container>
      </div>
    </div>


    <div *ngIf="!faculty?.name">
      <button
        class="addmodule"
        (click)="degreeClicked();"
        *ngIf="addingDegree === false"
      >
        Add Degree
      </button>
      <span
        class="select-module"
        *ngIf="addingDegree === true && addedDegree===false"
      >
        <mat-form-field>
          <mat-select
            panelClass="my-panel-class"
            [(value)]="currentFaculties[0]"
            placeholder="Faculty"
            (selectionChange)="changeFaculty(0, $event)"
            [disabled]="addingDegree===false"
          >
            <mat-option
              *ngFor="let faculty of faculties"
              [value]="faculty.value"
              (click)="addedDegree=true"
            >
            {{ faculty.view }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>

  </mat-expansion-panel>

  <p></p>

  <mat-expansion-panel
    class="pg-bar"
    [disabled]="isDisabled"
    [expanded]="true"
    hideToggle
  >
    <mat-expansion-panel-header
      style="margin-top: 0px; margin-bottom: 0px"
      (click)="expansionOnClick()"
      *ngIf="majors?.name && !pathways?.name"
    >

    <mat-toolbar *ngIf="majors?.name && !pathways?.name" class="plain">
      <span> {{majors.name}} </span>
      <span class="spacer"></span>
      <span class="delete-pg" (click)="noExpansionOnClick(); deleteMajor();">
        <span class="cross-pg">&times;</span></span>
    </mat-toolbar>
  </mat-expansion-panel-header>
  <div
    *ngIf="majors?.name && !pathways?.name"
    class="progress-panel-bar-container flex flex-col flex-start"
  >
    <div class="progress-bar-group">
      <progress-bar-multi-container
        *ngFor="let requirement of majorRequirements"
        [requirement]="requirement"
        (click)="selectRequirements(requirement)"
        [courses]="courses"
      >
      </progress-bar-multi-container>
    </div>
  </div>
  </mat-expansion-panel>

  <P></P>

  <mat-expansion-panel
  class="pg-bar"
  [disabled]="isDisabled"
  [expanded]="true"
  hideToggle
>
  <mat-expansion-panel-header
    style="margin-top: 0px; margin-bottom: 0px"
    (click)="expansionOnClick()"
    *ngIf="pathways?.name"
  >

  <mat-toolbar *ngIf="pathways?.name" class="plain">
    <span> {{majors.name}}: {{pathways.name}} Pathway </span>
    <span class="spacer"></span>
    <span class="delete-pg" (click)="noExpansionOnClick(); deletePathway();">
      <span class="cross-pg">&times;</span></span>
  </mat-toolbar>
</mat-expansion-panel-header>

  <div
    *ngIf="pathways?.name"
    class="progress-panel-bar-container flex flex-col flex-start"
  >
    <div class="progress-bar-group">
      <progress-bar-multi-container
        *ngFor="let requirement of pathwayRequirements"
        [requirement]="requirement"
        (click)="selectRequirements(requirement)"
        [courses]="courses"
      >
      </progress-bar-multi-container>
    </div>
  </div>
  </mat-expansion-panel>

  <div *ngIf="!majors?.name && !requiresPathway && !pathways?.name && faculty?.name" class="plain">
    <button
    class="addmodule"
    (click)="majorClicked();"
    *ngIf="addingMajor === false"
  >
    Add Major
  </button>
  <span
    class="select-module"
    *ngIf="addingMajor === true && addedMajor === false"
  >
    <mat-form-field>
      <mat-select
        panelClass="my-panel-class"
        [(value)]="currentMajors[0]"
        placeholder="Major"
        (selectionChange)="changeMajor(0, $event)"
        [disabled]="addingMajor === false"
      >
        <mat-option
          *ngFor="let major of majorsList"
          [value]="major.value"
          (click)="addedMajor = true;pathwayCheck(major.value);"
        >
        {{ major.view }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</div>

<div *ngIf="requiresPathway" class="plain">
  {{pathwayFilter()}}
  <button
  class="addmodule"
  (click)="pathwayClicked();"
  *ngIf="addingPathway === false"
>
  Select Pathway
</button>
<span
  class="select-module"
  *ngIf="addingPathway === true && addedPathway === false"
>
  <mat-form-field>
    <mat-select
      panelClass="my-panel-class"
      [(value)]="currentPathways[0]"
      placeholder="Pathway"
      (selectionChange)="changePathway(0, $event)"
      [disabled]="addingPathway === false"
    >
      <mat-option
        *ngFor="let path of pathwaysList[0]"
        [value]="path.value"
        (click)="addedPathway = true;pathwayCheck(path.value);requiresPathway=false;"
      >
      {{ path.view }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>
</div>

<P></P>

<mat-expansion-panel
class="pg-bar"
[disabled]="isDisabled"
[expanded]="true"
hideToggle
>
<mat-expansion-panel-header
  *ngIf="conjoint?.name"
  style="margin-top: 0px; margin-bottom: 0px"
  (click)="expansionOnClick()"
>

  <mat-toolbar *ngIf="conjoint" class="plain">
    <span> Bachelor of {{conjoint.name}} </span>
    <span class="spacer"></span>
    <span class="delete-pg" (click)="noExpansionOnClick(); deleteConjoint();">
      <span class="cross-pg">&times;</span></span>
  </mat-toolbar>
</mat-expansion-panel-header>

  <div
    *ngIf="conjoint"
    class="progress-panel-bar-container flex flex-col flex-start"
  >
    <div class="progress-bar-group">
      <progress-bar-multi-container
        *ngFor="let i of conjointRequirements"
        [requirement]="i"
        (click)="selectRequirements(i)"
        [courses]="courses"
      >
      </progress-bar-multi-container>
    </div>
  </div>
</mat-expansion-panel>

<div *ngIf="!conjoint?.name && faculty?.name">
  <button
    class="addmodule"
    (click)="conjointClicked();"
    *ngIf="addingConjoint === false"
  >
    Add Conjoint (Optional)
  </button>
  <span
    class="select-module"
    *ngIf="addingConjoint === true && addedConjoint===false"
  >
    <mat-form-field>
      <mat-select
        panelClass="my-panel-class"
        [(value)]="currentConjoints[0]"
        placeholder="Faculty"
        (selectionChange)="changeConjoint(0, $event)"
        [disabled]="addingConjoint===false"
      >
        <mat-option
          *ngFor="let conjoint of conjoints"
          [value]="conjoint.value"
          (click)="addedConjoint=true"
        >
        {{ conjoint.view }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</div>

<P></P>

<mat-expansion-panel
class="pg-bar"
[disabled]="isDisabled"
[expanded]="true"
hideToggle
>
<mat-expansion-panel-header
  *ngIf="secondMajors?.name"
  style="margin-top: 0px; margin-bottom: 0px"
  (click)="expansionOnClick()"
>

  <mat-toolbar *ngIf="majors?.name && secondMajors?.name" class="plain">
    <span> {{secondMajors.name}} </span>
    <span class="spacer"></span>
    <span class="delete-pg" (click)="noExpansionOnClick(); deleteSecondMajor();">
      <span class="cross-pg">&times;</span></span>
  </mat-toolbar>
</mat-expansion-panel-header>

  <div
    *ngIf="majors?.name && secondMajors?.name"
    class="progress-panel-bar-container flex flex-col flex-start"
  >
    <div class="progress-bar-group">
      <progress-bar-multi-container
        *ngFor="let requirement of secondMajorRequirements"
        [requirement]="requirement"
        [courses]="courses"
        (click)="selectRequirements(requirement)"
      >
      </progress-bar-multi-container>
    </div>
  </div>


  <div *ngIf="!secondMajors?.name && conjoint?.name">
    <button
      class="addmodule"
      (click)="secondMajorClicked();"
      *ngIf="addingSecondMajor === false"
    >
      Add Second Major
    </button>
    <span
      class="select-module"
      *ngIf="addingSecondMajor === true && addedSecondMajor===false"
    >
      <mat-form-field>
        <mat-select
          panelClass="my-panel-class"
          [(value)]="currentSecondMajors[0]"
          placeholder="Second Major"
          (selectionChange)="changeSecondMajor(0, $event)"
          [disabled]="addingSecondMajor===false"
        >
          <mat-option
            *ngFor="let secondMajor of secondMajorsList"
            [value]="secondMajor.value"
            (click)="addedSecondMajor=true"
          >
          {{ secondMajor.view }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>
</mat-expansion-panel>

  <p></p>


  <mat-expansion-panel
  class="pg-bar"
  [disabled]="isDisabled"
  [expanded]="true"
  hideToggle
  >
  <mat-expansion-panel-header
    *ngIf="modules?.name"
    style="margin-top: 0px; margin-bottom: 0px"
    (click)="expansionOnClick()"
  >

  <mat-toolbar *ngIf="modules?.name" class="plain">
    <span> {{modules.name}} </span>
    <span class="spacer"></span>
    <span class="delete-pg" (click)="noExpansionOnClick(); deleteModule();">
      <span class="cross-pg">&times;</span></span>
  </mat-toolbar>
  </mat-expansion-panel-header>

  <div
    *ngIf="modules?.name"
    class="progress-panel-bar-container flex flex-col flex-start"
  >
    <div class="progress-bar-group">
      <progress-bar-multi-container
        *ngFor="let requirement of moduleRequirements"
        [requirement]="requirement"
        [courses]="courses"
        (click)="selectRequirements(requirement)"
      >
      </progress-bar-multi-container>
    </div>
  </div>
</mat-expansion-panel>


  <div *ngIf="(majors?.name) && ((!modules?.name && faculty?.name === 'Arts') || (!modules?.name && faculty?.name === 'Science'))">
    <button
      class="addmodule"
      (click)="moduleClicked()"
      *ngIf="addingModule === false"
    >
      Add Module
    </button>
    <span
      class="select-module"
      *ngIf="addingModule === true && addedModule===false"
    >
      <mat-form-field>
        <mat-select
          panelClass="my-panel-class"
          [(value)]="currentModules[0]"
          [placeholder]="'Module (optional)'"
          (selectionChange)="changeModule(0, $event)"
          [disabled]="addingModule===false"
        >
          <mat-option
            *ngFor="let module of modulesList[0]"
            [value]="module.value"
            (click)="addedModule=true"
          >
            {{ module.view }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>


  <p></p>

  <mat-expansion-panel
  class="pg-bar"
  [disabled]="isDisabled"
  [expanded]="true"
  hideToggle
  >
  <mat-expansion-panel-header
    *ngIf="secondModules?.name"
    style="margin-top: 0px; margin-bottom: 0px"
    (click)="expansionOnClick()"
  >

  <mat-toolbar *ngIf="secondModules?.name" class="plain">
    <span> {{secondModules.name}} </span>
    <span class="spacer"></span>
    <span class="delete-pg" (click)="noExpansionOnClick(); deleteSecondModule();">
      <span class="cross-pg">&times;</span></span>
  </mat-toolbar>
  </mat-expansion-panel-header>

  <div
    *ngIf="secondModules?.name"
    class="progress-panel-bar-container flex flex-col flex-start"
  >
    <div class="progress-bar-group">
      <progress-bar-multi-container
        *ngFor="let requirement of secondModuleRequirements"
        [requirement]="requirement"
        [courses]="courses"
        (click)="selectRequirements(requirement)"
      >
      </progress-bar-multi-container>
    </div>
  </div>
</mat-expansion-panel>

  <div *ngIf="(majors?.name) && ((!secondModules?.name && faculty?.name === 'Arts') || (!secondModules?.name && faculty?.name === 'Science'))">
    <button
      class="addmodule"
      (click)="secondModuleClicked()"
      *ngIf="addingSecondModule === false"
    >
      Add Module
    </button>
    <span
      class="select-module"
      *ngIf="addingSecondModule === true && addedSecondModule===false"
    >
      <mat-form-field>
        <mat-select
          panelClass="my-panel-class"
          [(value)]="currentSecondModules[0]"
          [placeholder]="'Module (optional)'"
          (selectionChange)="changeSecondModule(0, $event)"
          [disabled]="addingSecondModule===false"
        >
          <mat-option
            *ngFor="let module of secondModulesList[0]"
            [value]="module.value"
            (click)="addedSecondModule=true"
          >
            {{ module.view }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>

