<div class="progress-panel-content">

  <mat-toolbar class="plain">
    <span>
      Bachelor of {{faculty? faculty.name: ''}}
    </span>
    <span class="spacer"></span>
    <span class="edit-button" (click)="pageChange()">
      &#x270e;
    </span>
  </mat-toolbar>

  <div *ngIf="gpa" class="gpa">
    Total GPA {{gpa.toFixed(2)}}
  </div>

  <div class="progress-panel-bar-container flex flex-col flex-start">
    <div class="progress-bar-group">
      <progress-bar-multi-container
         *ngFor="let requirement of requirements"
         [requirement]="requirement"
         (click)="selectRequirements(requirement)"
         [courses]="courses">
      </progress-bar-multi-container>
    </div>
  </div>

  <mat-toolbar *ngIf="majors" class="plain">
    <span>
      {{majors.name}}
    </span>
  </mat-toolbar>

  <div class="progress-panel-bar-container flex flex-col flex-start">
    <div class="progress-bar-group">
      <progress-bar-multi-container
         *ngFor="let requirement of majorRequirements"
         [requirement]="requirement"
         (click)="selectRequirements(requirement)"
         [courses]="courses">
      </progress-bar-multi-container>
    </div>
  </div>

  <mat-toolbar *ngIf="conjoint !== null" class="plain">
    <span>
      Bachelor of {{conjoint.name}}
    </span>
  </mat-toolbar>

  <div class="progress-panel-bar-container flex flex-col flex-start" *ngIf="conjoint"> 
    <div class="progress-bar-group">
      <progress-bar-multi-container
         *ngFor="let i of conjointRequirements"
         [requirement]="i"
         (click)="selectRequirements(i)"
         [courses]="courses">
      </progress-bar-multi-container>
    </div>
  </div>

  <mat-toolbar *ngIf="secondMajors !== null" class="plain">
    <span>
      {{secondMajors.name}}
    </span>
  </mat-toolbar>

  <div *ngIf="secondMajors[0] !== null" class="progress-panel-bar-container flex flex-col flex-start">
    <div class="progress-bar-group">
      <progress-bar-multi-container
         *ngFor="let requirement of secondMajorRequirements"
         [requirement]="requirement"
         [courses]="courses"
         (click)="selectRequirements(requirement)">
      </progress-bar-multi-container>
    </div>
  </div>

</div>
