<div class="courses-panel">
  <div class="courses-panel-content" >
    <semester-panel *ngFor="let semester of semesters; let i=index" [semester]="semester" [courses]="filteredCourses[i]? filteredCourses[i]:[]">
    </semester-panel>
    <div class="add-semester">
      <mat-toolbar class="plain">
        <span class="new-semester" (click)="newSemester()" *ngIf="addingSemester === false">
          + ADD SEMESTER
        </span>
      </mat-toolbar>
    </div>
  </div>
  <export-button>
  </export-button>
</div>
