<!DOCTYPE html>
<html lang="">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MN927X4H5S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MN927X4H5S');
</script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <title>Udegree | Degree planning made easy</title>

  <meta name="description" content="Udegree | Degree planning made easy">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="icon" type="image/logo" href="./assets/img/logo.svg" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--
    <link rel="stylesheet" type="text/css" href="./assets/css/prime-omega-theme.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/primeng.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> -->
  <!--<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">-->
  <link rel="stylesheet" href="./assets/css/dragula.min.css">

  <!-- <% if (environment.headTags) { %> -->
  <!-- Configured Head Tags  -->
  <!-- <%= environment.headTags %> -->
  <!-- <% } %> -->

  <!-- base url goes here     really-->
  <base href="/">

</head>

<body>

  <app>
  </app>
    <!-- <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script> -->
    <script src="assets/papaParse.min.js"></script>
    <script src="assets/hammer.min.js"></script>

  <!-- Start of Pendo script -->

  <script>
    (function(apiKey){
        (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
        v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
            o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
            y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
            z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
    })('b5901501-009c-40f5-7c75-e8987bc52dfa');


    pendo.initialize({
            visitor: {
                id:              'jackson.keet@mac.com'   // Required if user is logged in
                // email:        // Recommended if using Pendo Feedback, or NPS Email
                // full_name:    // Recommended if using Pendo Feedback
                // role:         // Optional
    
                // You can add any additional visitor level key-values here,
                // as long as it's not one of the above reserved names.
            },
    
            account: {
                id:           'jackson.keet@mac.com' // Required if using Pendo Feedback
                // name:         // Optional
                // is_paying:    // Recommended if using Pendo Feedback
                // monthly_value:// Recommended if using Pendo Feedback
                // planLevel:    // Optional
                // planPrice:    // Optional
                // creationDate: // Optional
    
                // You can add any additional account level key-values here,
                // as long as it's not one of the above reserved names.
            }
        });
    </script>


<!-- End of Pendo Script -->

<!--Start of Tawk.to Script-->

<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6179324486aee40a57389b24/1fr9nr704';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>
