.export-advisor-zero {
    width: 360px;
    height: 40px;
    cursor:not-allowed
}

.export-advisor-one {
    width: 360px;
    height: 40px;
    background-color: #25a0ed;
}

.export-advisor-two {
    width: 360px;
    height: 40px;
    background-color: #ffcc01;
    cursor:not-allowed
}

.export-advisor-three {
    width: 360px;
    height: 40px;
    background-color: #65cc01;
    cursor:not-allowed
}